fastapi
pydantic[email]
uvicorn
asyncpg
pandas
numpy
passlib[bcrypt]
pyjwt
python-multipart
pytest
pytest-asyncio
databases
httpx
google-cloud-storage
google-auth
google-auth-oauthlib
google-auth-httplib2
matplotlib
seaborn
google-cloud-aiplatform
celery[redis]
scikit-learn
scipy
xgboost
lightgbm
shap
joblib
